div.center {
  align-content: center;
}
.nav{
  background-color:#D9f4ff;
  $zindex-sticky:1020;
}
img {
  border-radius: 20px;
}

body {
  background-color: #D9f4ff;
}

.tall {
  height: 86%;
}
.card{
  max-width: 18rem;
  max-height:20rem;
}
